{% include ('includes/header.twig') %}

{% include ('includes/navbar.twig') %}

<div class="max-w-lg mx-auto my-8 p-6 bg-gray-800 rounded-lg shadow-lg dark:bg-gray-800">
    <h1 class="text-3xl font-semibold mb-6 text-center text-white">Edit Article</h1>
    <form class="space-y-4" method="POST" action="/article/edit/{{ article.id }}">
        <div>
            <label class="block text-gray-300 mb-2" for="title">Title</label>
            <input class="bg-gray-700 text-gray-200 rounded-md py-2 px-4 w-full focus:outline-none focus:bg-gray-600" id="title" name="title" type="text" value="{{ article.title }}">
            <small class="text-gray-400">Please enter a title.</small>
        </div>
        <div>
            <label class="block text-gray-300 mb-2" for="description">Description</label>
            <textarea class="bg-gray-700 text-gray-200 rounded-md py-2 px-4 w-full focus:outline-none focus:bg-gray-600" id="description" name="description" rows="10">{{ article.description }}</textarea>
            <small class="text-gray-400">Please enter a description.</small>
        </div>
        <div>
            <label class="block text-gray-300 mb-2" for="image">Image URL</label>
            <input class="bg-gray-700 text-gray-200 rounded-md py-2 px-4 w-full focus:outline-none focus:bg-gray-600" id="image" name="image" type="text" value="{{ article.picture }}">
            <small class="text-gray-400">URL must start with 'http://' or 'https://'</small>
        </div>
        <div class="flex justify-center">
            <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline" type="submit" name="submit">Edit</button>
        </div>
    </form>
</div>
